[Unit]
Description = kodi-standalone using xinit
After = remote-fs.target systemd-user-sessions.service

[Service]
Type = simple
ExecStart = /usr/bin/xinit /usr/bin/dbus-launch /usr/bin/kodi-standalone -l /run/lirc/lircd -- :0 -nolisten tcp
Restart = on-abort

[Install]
WantedBy = multi-user.target
