[Unit]
Description = Starts an instance of Plex Home Theater using xinit
After = systemd-user-sessions.service
Conflicts = getty@tty7.service

[Service]
User = plex
Group = plex
PAMName = login
Type = simple
TTYPath = /dev/tty7
Environment = XBMC_HOME=/usr/share/plexhometheater XBMC_BIN_HOME=/usr/lib/plexhometheater
ExecStart = /usr/bin/xinit /usr/bin/dbus-launch --exit-with-session /usr/bin/plexhometheater --standalone -l /run/lirc/lircd -- :0 -nolisten tcp vt7
Restart = on-abort
Nice = -1

[Install]
WantedBy = multi-user.target
